body{ 
  background: #b9e8b8;
}



.titel{
	color: #b36b00;
}
#titel{
	text-align: center;
	font-size: 35px;
	
}

#titel1{
	text-align: center;
	font-size: 40px;
	font-family: Impact;
}

#HOME{
	position: absolute;
	top: 32px;
	left: 1251px;
	color: #E81A18;
	font-size: 20px;
	font-family: sans-serif;
	display: block;
}

#HOME{
	background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px
}

.content{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.karte{
	position: relative;
}

.karte img{
	width: 100%;
}

.karte a{
	display: none;
}

.karte a:nth-child(2) {
	position: absolute;
	top: 129px;
	left: 230px;
	font-size: 25px;
	color: #E8CC41;
	text-decoration: none;
}

.karte a:nth-child(3) {
	position: absolute;
	top: 305px;
	left: 292px;
	color: #E8CC41;
	font-size: 25px;
	text-decoration: none;
}

.karte a:nth-child(4) {
	position: absolute;
	top: 341px;
	left: 483px;
	color: #E8CC41;
	font-size: 25px;
	text-decoration: none;
}

.karte a:nth-child(5) {
	position: absolute;
	top: 593px;
	left: 817px;
	color: #E8CC41;
	font-size: 25px;
	text-decoration: none;
}

.karte a:nth-child(6) {
	position: absolute;
	top: 655px;
	left: 683px;
	color: #E8CC41;
	font-size: 25px;
	text-decoration: none;
}



.top{
	font-family: sans-serif;
	color: #b36b00;
	text-align: center;
	font-size: 35px;
}

.mid{
	font-family: sans-serif;
	color: #b36b00;
	text-align: center;
	font-size: 25px;
}



.spieler{
	text-align: left;
	float:left;
	width: 188px;
	height: 300px;
}

.spieler h2{
	text-align: center;
}

.spieler ul{
	display: none;
}

.spieler img{
	width: 100px;
	height: auto;
	margin: 0 auto;
	display: block;
}

.spieler img:hover{
	cursor:pointer;
}

.schrift{
	font-family: Arial sans-serif;
	color: black;
}






